<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scala=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="home.css"
    </head>
    <body>
        <header>
            <h1>Front-end</h1>        
        </header>
        <br>
        <Section>
            <h3>About</h3>
        </Section>
        <br>
        <footer>
            <h4>Desenvolver Front-end</h4>
        </footer>
    </body>
</html>