<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scala=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
    <body>
        <header>
            
            <div class="container"><div class="box">       <i class="material-icons">menu</i> <!-- Menu -->
            </div>
            <div class="box1"><div class="box2" ><img class="img" src="../static/imagem/logotube.jpg" alt="VamTube"><h1>VamTube</h1></div><div class="box3"><input type="text" id="search" name="search" placeholder="Pesquisar"><a type="button" ><i class="material-icons">search</i> <!-- Lupa --></a></div><div class="box4"><a><i class="material-icons">mic</i></a> <!-- Microfone --></div></div></div>        
        </header>

        
        
        <BR><BR><BR><BR><BR><BR>
        <i class="material-icons">search</i> <!-- Lupa -->
        <i class="material-icons">mic</i> <!-- Microfone -->
        
        <br>
        <Section>
            <h3>About</h3>
        </Section>
        <br>
        <footer>
            <h4>Desenvolver Front-end</h4>
        </footer>
    </body>
</html>